@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Uzzo Binance</h2>
        <ul>
            <li><a asp-action="UzzoBinance" asp-controller="UzzoBinance">Processar preços Binance</a></li>
        </ul>
    </div>
    
    
</div>
